table {
  text-align: left;
  position: relative;
  border-collapse: collapse;
  font-size: 80%;
}

th, td {
  padding: 0.25rem;
}

td{
  border: solid 1px gray;
  font-size: 80%;
}
th {
  background: #ffc21a;

  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.laTabla {
  max-height: 80vh !important;
  overflow-x: scroll;
  max-width: 96vw;
  margin: auto;
}
ion-select{
  box-shadow: 0 1px 2px;
}
