<ion-content class="ion-padding">
    <img src="assets/img/erre.png" alt="">
    <h4 class="ion-text-center">Vive la experiencia <b>RouteSchoolApp &copy;</b></h4>
   <!-- <ul>
        <li>Accede al menu</li>
    </ul>
    <img src="assets/img/foto2.png" alt="">
    <ul>
        <li>Crea colegios</li>
    </ul>
    <img src="assets/img/foto1.png" alt="">
    <img src="assets/img/foto3.png" alt="">

    <ul>
        <li>Registra apoderados</li>
    </ul>
    <img src="assets/img/foto4.png" alt="">

    <ul>
        <li>Consulta la asistencia</li>
    </ul>
    <img src="assets/img/foto2.png" alt="">
    <ul>
        <li>Y viaja con tranquilidad</li>
    </ul>
    <img src="assets/img/foto2.png" alt="">-->

</ion-content>
